<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 well  col-lg-offset-4">
                Reviews
            </div>
            <div class="col-lg-2 well">
                My Items
            </div>
            <div class="col-lg-2 well">
                Borrowed Items
            </div>
            <div class="col-lg-2 well">
                Lent Items
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 well">
                Money Spent
            </div>
            <div class="col-lg-2 well">
                Money Earned
            </div>
        </div>
    </div>
</div>
