.navbar{
    margin-bottom: 0px;
    color: #ffffff;
    background-color: #ffffff
}
/*.profile-image {
    position: relative;
    top: 0;
    float: left;
    left: 0;
}*/

.profile-image {
    padding: 2px;
}

/*Dropdown button*/
.dropbtn{
    cursor: pointer
}

/*the container div needed to position the dropdown content */
.dropdown{
    position: relative;
    display: inline-block;
}

/*dropdown content hidden by default*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -120px
}

/*Links inside the dropdown*/
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/*show dropdown menu on hover*/
.dropdown:hover .dropdown-content{
    display: block;
}

a {
    text-decoration: none
}

.navbar-inverse .navbar-brand {
    color: #2196f3;
}
.navbar-inverse .navbar-nav>li>a {
    color: #2196f3;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .dropdown-content {
        margin-left: 0;
    }
    .breadCrumb{
        margin-top: 1.8em !important; 
        margin-left: 2em !important;
        font-size: inherit !important;
        float: left !important;
        
    }

}

.breadCrumb{
    margin-top: 2px;
    margin-left: 3em;
    font-size: 3em;
    float: right;
}