<div class="main">
  <div class="container">
    <div class="row" *ngIf="item">
        <div class="col-lg-8">
            <img [src]="item.itemImageUrl" class="img-responsive"/>
            <p class="lead"> {{item.itemName}}</p>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-lg-4">
                    <img [src]="item.itemOwner.photoUrl"  class="img-responsive img-circle" style="height: 70px; width: 70px"/>
                </div>
                <div class="col-lg-6">
                    <p class="lead ">{{item.itemOwner.displayName}}</p>
                </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="lead">{{"PRICE_INFO" | translate}}</p>
                            </div>
                        </div>
                        <hr>
                        <form [formGroup]="itemRequestForm">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p class="lead">{{"BORROWING_PERIOD" | translate}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <p class="">{{"FROM" | translate}}</p>
                                    <date-picker formControlName="requestStarts" [showClearButton]="false"></date-picker>
                                </div>
                            </div>
                            <div class="row">
                                
                                <div class="col-lg-12">
                                    <p class="">{{"TO" | translate}}</p>
                                    <date-picker formControlName="requestEnds" [showClearButton]="false"></date-picker>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-12">
                                    <p class="lead "> {{"WRITE_MESSAGE" | translate}}</p>
                                    <textarea class="form-control" rows="2" formControlName="message"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <hr>
                    <div class="panel-footer">
                        <button class="btn btn-primary btn-lg  btn-block" (click)="sendRequest()"> {{"REQUEST" | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>