<div class="main">
  <div class="container">
    <ng-container *ngIf="request && request.status === 3">
      <div class="row">
        <div class="col-lg-12">
          <p class="lead">
            {{request.requestedItem.itemOwner.displayName}} {{"REQUEST_ACCEPTED" | translate}}
            {{request.requestedItem.itemName}}
          </p>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="request && request.status === 0">
      <p class="lead"> {{"WAITING_FOR_REQUEST" | translate}}</p>
    </ng-container>
  </div>
</div>