<div class="main">
  <div class="container">
    <div class="row">
      <alert type="warning" dismissible="true">
        <p class="lead ">{{"REQUEST_ALERT" | translate }}</p>
      </alert>
    </div>
    <div>
      <tabset>
        <tab heading="{{'RECEIVED_REQUESTS' | translate}}">
          <hr style="border-top: 0">
          <div class="row" *ngIf="filteredRequests">
            <div class="col-lg-12 well" *ngFor="let request of filteredRequests.incomingRequests">
              <a routerLink="/incomingRequests/{{request.$key}}">
              <div class="col-lg-1">
                <img [src]="request.requestFrom.photoUrl" class="img-responsive img-circle" style="height: auto; width: 70px">
              </div>
              <div class="col-lg-2">
                <strong>{{request.requestFrom.displayName}}</strong>
              </div>
              <div class="col-lg-8">
                <p class="lead">{{request.requestFrom.displayName}} Has requested {{request.requestedItem.itemOwner.displayName}}'s {{request.requestedItem.itemName}} for {{request.requestEnds | amDifference: request.requestStarts :'days' : true}} days</p>
              </div>
              <div class="col-lg-1">
                  <ng-container *ngIf="request.status === 0">
                    <p class="lead"> {{"REQUEST_STATUS_OPEN" | translate}}</p>
                  </ng-container>
                  <ng-container *ngIf="request.status === 1">
                    <p class="lead"> {{"REQUEST_STATUS_CANCELLED" | translate }}</p>
                  </ng-container>
                  <ng-container *ngIf="request.status === 2">
                    <p class="lead"> {{"REQUEST_STATUS_DECLINED" | translate }}</p>
                  </ng-container>
                  <ng-container *ngIf="request.status === 3">
                    <p class="lead"> {{"REQUEST_STATUS_ACCEPTED" | translate }}</p>
                  </ng-container>
              </div>
              </a>
            </div>
          </div>
        </tab>
        <tab heading="{{'YOUR_REQUESTS' | translate}}">
           <hr style="border-top: 0">
            <div class="row" *ngIf="filteredRequests">
              <div class="col-lg-12 well" *ngFor="let request of filteredRequests.outcomingRequests">
                <a routerLink="/outcomingRequests/{{request.$key}}">
                <div class="col-lg-1">
                  <img [src]="request.requestedItem.itemOwner.photoUrl" class="img-responsive img-circle" style="height: auto; width: 70px">
                </div>
                <div class="col-lg-2">
                  <strong>{{request.requestedItem.itemOwner.displayName}}</strong>
                </div>
                <div class="col-lg-8">
                  <p class="lead">{{request.requestFrom.displayName}} Has requested {{request.requestedItem.itemOwner.displayName}}'s {{request.requestedItem.itemName}} for {{request.requestEnds | amDifference: request.requestStarts :'days' : true}} days</p>
                </div>
                <div class="col-lg-1">
                  <ng-container *ngIf="request.status === 0">
                    <p class="lead"> {{"REQUEST_STATUS_OPEN" | translate}}</p>
                  </ng-container>
                  <ng-container *ngIf="request.status === 1">
                    <p class="lead">  {{"REQUEST_STATUS_CANCELLED" | translate }}</p>
                  </ng-container>
                  <ng-container *ngIf="request.status === 2">
                    <p class="lead"> {{"REQUEST_STATUS_DECLINED" | translate }}</p>
                  </ng-container>
                  <ng-container *ngIf="request.status === 3">
                    <p class="lead"> {{"REQUEST_STATUS_ACCEPTED" | translate }}</p>
                  </ng-container>
                </div>
                </a>
              </div>
            </div>
        </tab>
      </tabset>
    </div>
