    <div class="container">
      <div class="form-group">
        <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
      </div>
      <!-- <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" style="height: 300px">
        <agm-marker [latitude]="latitude" [longitude]="longitude" [visible]="true"></agm-marker>
      </agm-map> -->
    </div>