<div class="jumbotron">
    <div class="container ">
        <ng-container *ngIf="isLoggedIn">
            <h1>Welcome {{userDisplayName}}!</h1>
        </ng-container>
        <h1 *ngIf="!isLoggedIn">{{"RENT_THINGS" | translate}}</h1>
        <div class="row well">
            <div class="col-xs-12 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="" role="search">
                                <div class="form-group">
                                    <input [(ngModel)]="searchedItem" name="searchedItem" type="text" class="form-control" placeholder="What are you looking for">
                                </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- <div class="col-xs-12 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="What's your location">
                                </div>
                        </form>
                    </div>
                </div>
            </div> -->
            <div class="col-xs-12 col-lg-3">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group " role="group">
                        <button type="button" class="btn btn-default" routerLinkActive ="active" [routerLink]="['/search', searchedItem]">{{"SEARCH" | translate}}</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container">
    <div class="row-fluid">
        <h4>{{"RECENTLY_ADDED" | translate}}</h4>
        <div class="rencently-added">
        <div *ngFor ="let item of recentlyAddedItems" class="col-lg-3 col-xs-4 item"  >
            <a routerLink="/items/{{item.$key}}">
            <!--Item Image and caption-->
            <div class="row item-info">
                <div class="col-lg-12">
                    <figure class="figure">
                        <img [src]="item.itemImageUrl" class="figure-img rounded img-responsive" alt="">
                    </figure>
                    <figcaption class="figure-caption lead">{{item.itemName}}</figcaption>
                </div>
            </div>
            </a>
            <!--profile image and user name-->
            <a routerLink="/user/{{item.itemOwner.userUid}}">
                <div class="row profile-info" style="width:90%; right:0; left:30px; top:0; padding: 5px">
                    
                        <div class="col-lg-2">
                            <!--profile image here-->
                            <img [src]="item.itemOwner.photoUrl" class="img-circle profile-img">
                        </div>
                        <div class="col-lg-10 profile-name" style="float: right; top: 0; left: 10px; display:none">
                            <!--profile name here -->
                            {{item.itemOwner.displayName}}
                        </div>

                </div>
            </a>
        </div>
        </div>
    </div>
</div>
<!-- <div class="container">
    <div class="row-fluid">
        <h4>{{"FEATURED_ITEMS" | translate}}</h4>
    </div>
</div> -->
<div class="container">
    <div class="row-fluid">
        <h4>{{"CATEGORIES" | translate}}</h4>
        <div class="categories">
            <div class="">
                 <div *ngFor="let branche of branches" class="col-lg-3 col-xs-4 branche" >
                    <a routerLink="categories/{{branche.name}}" (click)="brancheClick(branche)">
                        <figure class="figure">
                            <img [src]="branche.image" class="figure-img img-fluid rounded img-responsive" alt="">
                            <figcaption class="figure-caption lead">{{branche.name}}</figcaption>
                        </figure>
                    </a>
                </div>
            </div>
           
        </div>
    </div>
</div>
<go-top-button [html]="'<i class=\'fa fa-arrow-up\'></i>'"
                 [animate]="true"
                 [speed]="50"
                 [acceleration]="2"
                 [scrollDistance]="300"
                 [styles]="{
                    'border-radius': '20px 20px 20px 20px',
                    'right': '5px',
                    'color': 'rgba(4,81,121,.8)',
                    'border': '5px solid',
                    'line-height': '20px',
                    'top': '90%'
                 }">
  </go-top-button>
<!-- <google-maps></google-maps> -->
        