.jumbotron {
    background-color: rgba(4,81,121,.8);
    color: #ffffff;
    /* height: 100vh; */
    padding-top: 10em
}

h1 {
    color: #ffffff
}

.panel-body {
    padding-top: 0;
    padding-bottom: 0;
}

.btn-default {
    height: 4em;
}
.well {
    background-color: transparent
}

.col-xs-3 {
   padding-right: 0
}

.profile-info{
   position: absolute;
    top: 10px;
    left: 20px;
    cursor: pointer
}
.profile-info:hover{
    background-color: beige;
    display: inline-block;
}



.img-thumbnail{
    width: 40px;
    height: 40px;
}

.profile-img{
    width: 40px;
    height: 40px
}

.recently-added .categories{
    overflow: hidden;
    float: right;
}

.item,  .branche{
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .img-responsive {
        min-height: 174px !important ;
    }
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .img-responsive {
        min-height: 57px !important ;
        max-height: 57px;
    }
}
