<div class="jumbotron">
    <div class="container text-center">
        <h1>Rent things from people nearby.</h1>
        <div class="row well">
            <div class="col-xs-3 col-xs-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="What are you looking for">
                                </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="What's your location">
                                </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group " role="group">
                        <button type="button" class="btn btn-default">SEARCH</button>
                    </div>
                </div>
            </div>
        </div>
        <h1>Share your stuff</h1>
        <div class="row well">
            <div class="col-xs-2 col-xs-offset-5">
                 <div class="btn-group btn-group-justified">
                    <div class="btn-group " role="group">
                        <button type="button" class="btn btn-default">BECOME A LENDER</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h2>Recently added</h2>
    </div>

    <div class="row">
        <h2>Featured items</h2>
    </div>

    <div class="row">
        <h2>Categories</h2>
    </div>
    
</div>
