<div class="main">
  <div class="container">
    <div class="row">
      <alert type="warning" dismissible="true">
        <p class="lead "> For your safety, we recommand you keep all your transactions on share.it</p>
      </alert>
    </div>
    <div class="row well" *ngFor="let chatRoom of currentUserChatRooms">
      <a routerLink="/messages/chatRoom/{{chatRoom.$key}}">
        <div class="col-lg-2">
          <div>
            {{chatRoom.messagesThread.length}}
          </div>
          <img [src]="chatRoom.messagesThread[chatRoom.messagesThread.length-1].sender.photoUrl" class="img-responsive img-circle" style="height:70px;">
          <p>{{chatRoom.messagesThread[chatRoom.messagesThread.length-1].sender.displayName}}</p>
        </div>
        <div class="col-lg-6">
          <p>{{chatRoom.messagesThread[chatRoom.messagesThread.length-1].body}}</p>
        </div>
      </a>
    </div>

  </div>
</div>