<div class="main">
  <div class="container">
    <div class="row">
      <alert type="warning" dismissible="true">
        <p class="lead "> {{"MESSAGE_ALERT" | translate }}</p>
      </alert>
    </div>
    <div class="row well" *ngFor="let chat of chatElements">
      <a routerLink="/messages/chatRoom/{{chat.chatRoomKey}}">
        <div class="col-lg-2">
          <img [src]="chat.lastMessage.sender.photoUrl" class="img-responsive img-circle" style="height:70px;">
          <p>{{chat.lastMessage.sender.displayName}}</p>
        </div>
        <div class="col-lg-6">
          <p>{{chat.lastMessage.body}}</p>
        </div>
      </a>
    </div>

  </div>
</div>