<div class="main">
  <div class="container">
    <div class="row-fluid">
      <div class="col-lg-3 col-xs-6" *ngFor="let item of myItems">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <edit-item itemKey={{item.$key}}></edit-item>
            </div>
            <div class="panel-body">
              <img src="{{item.itemImageUrl}}" class="img-responsive" style="height: 150px"/>
            </div>
            <div class="panel-footer text-center">
              <p class="lead">{{item.itemName}}</p>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" *ngIf="myItems.length == 0">
      <div class="col-lg-12 col-xs-12">
        <p class="lead " style="margin-top:30%"> Uh oh! You have no items listed :( Let's add <a routerLink="/addItem">something?</a></p>
      </div>
    </div>
  </div>
</div>

<go-top-button *ngIf="myItems.length !== 0" [html]="'<i class=\'fa fa-arrow-up\'></i>'"
                 [animate]="true"
                 [speed]="50"
                 [acceleration]="2"
                 [scrollDistance]="300"
                 [styles]="{
                    'border-radius': '20px 20px 20px 20px',
                    'right': '5px',
                    'color': 'rgba(4,81,121,.8)',
                    'border': '5px solid',
                    'line-height': '20px',
                    'top': '90%'
                 }">
  </go-top-button>