<div class="main">
  <div class="container">
    <div class="row-fluid">
      <div class="col-lg-3  " *ngFor="let item of myItems">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <edit-item itemKey={{item.$key}}></edit-item>
            </div>
            <div class="panel-body">
              <img src="{{item.itemImageUrl}}" class="img-responsive" style="height: 150px"/>
            </div>
            <div class="panel-footer text-center">
              <p class="lead">{{item.itemName}}</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>