.main {
  padding-top: 10em;
  background-color: rgb(202, 235, 247);
  height: 100vh;
}
.well {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  
}
.material-icons.md-48 { 
  font-size: 10rem;
}
.panel-footer {
    background-color: transparent;
}
.btn {
  margin:  5px !important;
}
.explanation-text {
  padding: 10px
}