<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="panel panel-default">
          <div class="panel-body ">
            <div class="row explanation-text text-center">
              <i class="fa fa-5x text-primary fa-check-circle-o" aria-hidden="true"></i>
            </div>
            <div class="row explanation-text">
              <p class="lead">
                {{"UPLOAD_SUCCESSFUL_EXPLANATION" | translate}}
              </p>
            </div>
          </div>
          <hr>
          <div class="panel-footer">
            <div class="">
              <div class="btn-group btn-group-justified ">
                <a class="btn btn-warning" routerLink="/my-items">{{"REVIEW" | translate}}</a>
                <a class="btn btn-default" routerLink="/addItem">{{"ADD_ITEM" | translate}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>