<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 well">
        <form [formGroup]="editProfileFrom">
          <div class="row">
            <div class="col-lg-12">
              <image-upload [mode]='mode' [imageUrl]='profileImgUrl' (emitImageUrl)="imageUrlChange($event)" ></image-upload>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label text-primary" for="inputLarge">{{"NAME" | translate }}</label>
            <input class="form-control input-sm " type="text" id="inputLarge" placeholder="{{'FULL_NAME' | translate}}" formControlName="userDisplayName">
          </div>
          <div *ngIf="formErrors.userDisplayName" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{formErrors.userDisplayName}}
          </div>
          <div class="form-group">
            <label class="control-label text-primary" for="inputLarge">{{"LIFE_STORY" | translate }}</label>
            <input class="form-control input-sm" type="text" id="inputLarge" placeholder="{{'LIFE_STORY_MAXLENGTH' | translate}}" formControlName="userLifeStory">
          </div>
          <div *ngIf="formErrors.userLifeStory" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{formErrors.userLifeStory}}
          </div>
          <div class="form-group">
            <label class="control-label text-primary" for="inputLarge">{{"DATE_OF_BIRTH" | translate }}</label>
            <input class="form-control input-sm" type="text" id="inputLarge" placeholder="dd/mm/yyyy" formControlName="userBirthDate">
          </div>
          <div *ngIf="formErrors.userBirthDate" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{formErrors.userBirthDate}}
          </div>
          <div class="form-group">
            <label class="control-label text-primary" for="inputLarge">{{"PHONE" | translate }}</label>
            <input class="form-control input-sm" type="text" id="inputLarge" placeholder="" formControlName="userPhone">
          </div>
          <div *ngIf="formErrors.userPhone" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{formErrors.userPhone}}
          </div>
          <div class="form-group">
            <label class="control-label text-primary" for="inputLarge">{{"ADDRESS" | translate }}</label>
            <input class="form-control input-sm" type="text" id="inputLarge" placeholder="{{'ENTER_ADDRESS' | translate}}" formControlName="userAddress" #address>
          </div>
          <div *ngIf="formErrors.userAddress" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{formErrors.userAddress}}
          </div>
          <div class="form-group">
            <label class="control-label text-primary" for="inputLarge">{{"EMAIL" | translate }}</label>
            <input class="form-control input-sm" type="text" id="inputLarge" placeholder="{{'EMAIL_PLACEHOLDER' | translate}}" formControlName="userEmail">
          </div>
          <div *ngIf="formErrors.userEmail" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{formErrors.userEmail}}
          </div>
          <div class="btn-group social-profiles-sp">
            <button class="btn btn-xs btn-default" style="margin-right:5px">
              <span class="glyphicon glyphicon-plus"></span>
              {{"INTERESTS" | translate }}
            </button>
            <button class="btn btn-xs btn-default">
              <span class="glyphicon glyphicon-plus"></span>
              {{"SOCIAL_PROFILES" | translate }}
            </button>
          </div>
          <!--Update button-->
          <button class="btn btn-warning pull-right" (click)="updateProfile()">{{"UPDATE" | translate }}</button>
        </form>
      </div>
      <div class="col-lg-4 checklist-sp">
        <div class="well">
          <div class="row">
            <div class="col-lg-6 col-xs-6">
              <p class="lead">{{"CHECKLIST" | translate }}</p>
            </div>
            <div class="col-lg-6">
              <button class="btn pull-right action-btn" (click)="isCollapsed = !isCollapsed">
                <ng-container *ngIf="isCollapsed">{{"VIEW" | translate }}</ng-container>
                <ng-container *ngIf="!isCollapsed">{{"CLOSE" | translate }}</ng-container>
              </button>
            </div>
          </div>
            <div [collapse]="isCollapsed">
                <div class="">
            <p class=""><small>{{"CHECKLIST_DESCRIPTION" | translate }}</small></p>
            <h6><strong>{{"MANDATORY" | translate }}</strong></h6>
          <p>
            <span class="glyphicon glyphicon-ok text-primary" *ngIf="user.displayName"></span>
            <span class="glyphicon glyphicon-remove text-danger" *ngIf="!user.displayName"></span>
             {{"NAME" | translate}}
          </p>
          <p>
            <span class="glyphicon glyphicon-ok text-primary" *ngIf="user.email"></span>
            <span class="glyphicon glyphicon-remove text-danger" *ngIf="!user.email"></span> 
             {{"EMAIL" | translate}}
          </p>
          <p>
            <span class="glyphicon glyphicon-ok text-primary" *ngIf="user.phone"></span>
            <span class="glyphicon glyphicon-remove text-danger" *ngIf="!user.phone"></span>
              {{"PHONE" | translate}}
          </p>
          <p>
            <span class="glyphicon glyphicon-ok text-primary" *ngIf="user.address"></span>
            <span class="glyphicon glyphicon-remove text-danger" *ngIf="!user.address"></span>
             {{"ADDRESS" | translate}}
            </p>
          <h6><strong>{{"NOT_MANDATORY" | translate }}</strong></h6>
          <p>
            <span class="glyphicon glyphicon-ok text-primary" *ngIf="user.photoUrl"></span>
            <span class="glyphicon glyphicon-remove text-danger" *ngIf="!user.photoUrl"></span>
              {{"PHOTO" | translate}}</p>
          <p>
            <span class="glyphicon glyphicon-ok text-primary" *ngIf="user.lifeStory"></span>
            <span class="glyphicon glyphicon-remove text-danger" *ngIf="!user.lifeStory"></span>
             {{"LIFE_STORY" | translate}}
          </p>
          <p>
            <span class="glyphicon glyphicon-ok text-primary" *ngIf="user.birthDate"></span>
            <span class="glyphicon glyphicon-remove text-danger" *ngIf="!user.birthDate"></span>
             {{"DATE_OF_BIRTH" | translate}}
          </p>
          <p>
            <span class="glyphicon glyphicon-ok text-primary" *ngIf="user.socialProfiles"></span>
            <span class="glyphicon glyphicon-remove text-danger" *ngIf="!user.socialProfiles"></span>
             {{"SOCIAL_PROFILES" | translate}}
          </p>
          <p>
            <span class="glyphicon glyphicon-ok text-primary" *ngIf="user.interests"></span>
            <span class="glyphicon glyphicon-remove text-danger" *ngIf="!user.interests"></span>
             {{"interests" | translate}}
          </p>
          </div>        
            </div>
        
          
        </div>
        <!-- <div class="well">
          <p class="lead">Preferences come here</p>
        </div> -->
        
      </div>
    </div>
  </div>
</div>