<!--<button class="btn btn-primary" (click)="lgModal.show()">Large modal</button>-->
<a  (click)="editItem()"> <h5>{{"EDIT" | translate }}</h5> </a>
<div class="container">
<!--Right side modal-->
<div bsModal #itemDetailsModal="bs-modal" class="modal fade right-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" [config]="{ignoreBackdropClick: true}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" (click)="deleteItem()">
         <i class="fa fa-trash-o text-primary" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editItemDetailsForm">
                <!--Item name-->
                  <div class="form-group">
                    <label class="control-label text-primary pull-left" for="inputLarge">{{"ITEM_NAME" | translate }}</label>
                    <input class="form-control input-lg" type="text" id="inputLarge" placeholder="{{'NAME_YOUR_ITEM' | translate}}" formControlName="itemName" >
                  </div>
                <!--Item brand--> <!--Item Model--> <!--Item price-->
                  
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="form-group" style="margin-top: 28px">
                        <input class="form-control input-lg" type="text" id="inputLarge" placeholder="{{'BRAND' | translate}}" formControlName="itemBrand">
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group" style="margin-top: 28px">
                        <input class="form-control input-lg" type="text" id="inputLarge" placeholder="{{'MODEL'| translate}}" formControlName="itemModel">
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="control-label text-primary pull-left" for="inputLarge">{{"PRICE" | translate}}</label>
                          <input class="form-control input-lg" type="text" id="inputLarge" placeholder="Original price" formControlName="itemOriginalPrice" >
                        </div>
                      </div>
                    </div>
                  
                
                <!--Item description-->
                <div class="form-group">
                  <label class="control-label text-primary pull-left" for="inputLarge">{{"DESCRIPTION" | translate}}</label>
                  <input class="form-control input-lg" type="text" id="inputLarge" placeholder="{{'DESCRIPTION' | translate}}" formControlName="itemDescription" >
                </div>
                <!--Item category--> <!--year bought--> 
                
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <select class="form-control" id="select_condition" formControlName="itemCategory">
                        <option *ngFor="let category of categories">{{category.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <select class="form-control" id="select_condition" formControlName="itemYearBought">
                        <option>year1</option>
                        <option>year2</option>
                        <option>year3</option>
                      </select>
                    </div>
                  </div>
                  </div>
                <!--Item condition-->
                <div class="row ">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <select class="form-control" id="select_condition" formControlName="itemCondition">
                        <option *ngFor="let condition of conditions">{{condition.name}}</option>
                      </select>
                </div>
                  </div>
                </div>
        </form>
      </div>
      <div class="modal-footer">
        <!--Cancel btn--> <!--Update btn-->
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default" (click)="onCancelBtnClick()">{{"CANCEL" | translate}}</button>
          <button type="button" class="btn btn-warning" (click)="updateItem()">{{"UPDATE" | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--left side modal-->
<div bsModal #itemImageModal="bs-modal" class="modal fade left-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" [config]="{ ignoreBackdropClick: true }">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <img [src]="imageUrl" class="img-responsive">
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-lg-12">
            <input class="form-control input-lg" type="text" id="inputLarge" placeholder="Item location" >
            <div>Google Maps shows here</div>
          </div>
        </div> -->
        
      </div>
    </div>
  </div>
</div>
 </div>
