<!--<button class="btn btn-primary" (click)="lgModal.show()">Large modal</button>-->
<a  (click)="editItem()"> <h5>EDIT</h5> </a>
<div class="container">
<!--Right side modal-->
<div bsModal #itemDetailsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="left:600px !important" [config]="{ignoreBackdropClick: true}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" (click)="deleteItem()">
         <i class="fa fa-trash-o text-primary" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editItemDetailsForm">
                <!--Item name-->
                  <div class="form-group">
                    <label class="control-label text-primary pull-left" for="inputLarge">Item Name</label>
                    <input class="form-control input-lg" type="text" id="inputLarge" placeholder="name your item" formControlName="itemName" >
                  </div>
                <!--Item brand--> <!--Item Model--> <!--Item price-->
                  
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="form-group" style="margin-top: 28px">
                        <input class="form-control input-lg" type="text" id="inputLarge" placeholder="Brand" formControlName="itemBrand">
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group" style="margin-top: 28px">
                        <input class="form-control input-lg" type="text" id="inputLarge" placeholder="Model" formControlName="itemModel">
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="form-group">
                          <label class="control-label text-primary pull-left" for="inputLarge">Price</label>
                          <input class="form-control input-lg" type="text" id="inputLarge" placeholder="Original price" formControlName="itemOriginalPrice" >
                        </div>
                      </div>
                    </div>
                  
                
                <!--Item description-->
                <div class="form-group">
                  <label class="control-label text-primary pull-left" for="inputLarge">Description</label>
                  <input class="form-control input-lg" type="text" id="inputLarge" placeholder="Description" formControlName="itemDescription" >
                </div>
                <!--Item category--> <!--year bought--> 
                
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <select class="form-control" id="select_condition" formControlName="itemCategory">
                        <option *ngFor="let category of categories">{{category.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <select class="form-control" id="select_condition" formControlName="itemYearBought">
                        <option>year1</option>
                        <option>year2</option>
                        <option>year3</option>
                      </select>
                    </div>
                  </div>
                  </div>
                <!--Item condition-->
                <div class="row ">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <select class="form-control" id="select_condition" formControlName="itemCondition">
                        <option *ngFor="let condition of conditions">{{condition.name}}</option>
                      </select>
                </div>
                  </div>
                </div>
        </form>
      </div>
      <div class="modal-footer">
        <!--Cancel btn--> <!--Update btn-->
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default" (click)="onCancelBtnClick()">Cancel</button>
          <button type="button" class="btn btn-warning" (click)="updateItem()">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--left side modal-->
<div bsModal #itemImageModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="right:600px !important" [config]="{ ignoreBackdropClick: true }">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <img [src]="imageUrl" class="img-responsive">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <input class="form-control input-lg" type="text" id="inputLarge" placeholder="Item location" >
            <div>Google Maps shows here</div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
 </div>
