<div class="main">
    <div class="container" *ngIf="user">
        <div class="row ">
            <div class="col-lg-2">
                <img [src]="user.photoUrl" class="img-responsive img-circle" style="height: 120px; width:auto"/>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <p class="lead"><strong>{{user.displayName}}</strong></p>
                </div>
                <div class="row">
                    <a class="btn btn-default btn-large" (click)="isCollapsed = !isCollapsed">Message</a>

                </div>
            </div>
        </div>
        <div class="row">
            <div (collapsed)="collapsed($event)"
                        (expanded)="expanded($event)"
                        [collapse]="isCollapsed"
                        class="card card-block card-header">
                <div class="well well-lg col-lg-8 col-lg-offset-2">
                    <div class="form-group">
                        <textarea class="form-control" rows="3" id="textArea" placeholder="Message" [(ngModel)]="msgVal"></textarea>
                        <span class="help-block"></span>
                        <button class="btn btn-primary pull-right" (click)="sendMessage(msgVal)"><span class="glyphicon glyphicon-send"></span></button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row-fluid">
            <h3>Items</h3>
            <div class="items">
                <div class="col-lg-3 item" *ngFor="let item of items">
                    <a routerLink="/items/{{item.$key}}">
                        <figure class="figure">
                            <img [src]="item.itemImageUrl" class="figure-img img-fluid rounded img-responsive" style="height: 170px">
                            <figcaption class="figure-caption lead">{{item.itemName}}</figcaption>
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>