<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 ">
        <div class="col-lg-5">
          <img class="img-responsive img-circle" style="height:100px" [src]="profileImageUrl">
        </div>
        <div class="col-lg-7">
          <div class="row">
            <p class="lead">{{userDisplayName}}</p>
            <p>
              <span class="glyphicon glyphicon-star-empty text-warning"></span>
              <span class="glyphicon glyphicon-star-empty text-warning"></span>
              <span class="glyphicon glyphicon-star-empty text-warning"></span>
              <span class="glyphicon glyphicon-star-empty text-warning"></span>
              <span class="glyphicon glyphicon-star-empty text-warning"></span>
              no ratings
            </p>
          </div>
          <div class="row">
            <button class="btn btn-default" routerLink="/edit-profile">edit</button>
          </div>
          
        </div>
      </div>
      <div class="col-lg-3 ">
        <div class="row">
          <div class="col-lg-12">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>