.main{
  margin-top: 10em;
}

.profile-img{
    width: 40px;
    height: 40px
}

.profile-info{
   position: absolute;
    top: 10px;
    left: 20px;
    cursor: pointer
}
.profile-info:hover{
    background-color: beige;
    display: inline-block;
}
