<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <input placeholder="what are you looking for?" class="form-control input-lg" type="text" id="inputLarge" name="searchWord" [(ngModel)]="searchWord">
        </div>
      </div>
      <div class="col-lg-1">
        <button class="btn btn-default btn-lg btn-block" (click)="searchItem(searchWord)"><span class="glyphicon glyphicon-search"></span></button>
      </div>
      
    </div>
    <div class="row">
      <div class="col-lg-7">
        <hr>
      </div>
    </div>
    <div class="row">
      <div *ngIf="searchedItems">
        <div *ngFor="let item of searchedItems " class="col-lg-3 col-xs-4">
            <a routerLink="/items/{{item.$key}}">
            <!--Item Image and caption-->
            <div class="row item-info">
                <div class="col-lg-12">
                    <figure class="figure">
                        <img [src]="item.itemImageUrl" class="figure-img rounded img-responsive" alt="">
                    </figure>
                    <figcaption class="figure-caption lead">{{item.itemName}}</figcaption>
                </div>
            </div>
            </a>
            <!--profile image and user name-->
            <a routerLink="/user/{{item.itemOwner.userUid}}">
                <div class="row profile-info" style="width:90%; right:0; left:30px; top:0; padding: 5px">
                    
                        <div class="col-lg-2">
                            <!--profile image here-->
                            <img [src]="item.itemOwner.photoUrl" class="img-circle profile-img">
                        </div>
                        <div class="col-lg-10 profile-name" style="float: right; top: 0; left: 10px; display:none">
                            <!--profile name here -->
                            {{item.itemOwner.displayName}}
                        </div>

                </div>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
