/*input[type=file] {
    display: block!important;
    opacity: 0!important;
    width: 450px!important;
    height:250px!important;
    padding: 0!important;
    margin-left: 0!important;
    margin-right: 0!important;
    margin-top: 0!important;
    border: 0!important;
    cursor: pointer;
}



input[type="file" ] {
    align-items: baseline;
    color: inherit;
    text-align: start;
}

input[type="hidden"], input[type="image" ], input[type="file" ] {
    -webkit-appearance: initial;
    background-color: initial;
    padding: initial;
    border: initial;
}

i {
  display: inherit;
}*/


.container {
  margin-top: 20px;
}

.well {
  text-align: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.well .file-input {
  cursor: pointer;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  /*This makes the button huge. If you want a bigger button, increase the font size*/
  font-size: 50px;
  /*Opacity settings for all browsers*/
  opacity: 0;
  -moz-opacity: 0;
  filter: progid: DXImageTransform.Microsoft.Alpha(opacity=0)
}

.well i {
  font-size: 15rem;
  text-shadow: 10px 10px 10px #646464;
}

.well .clear i {
  font-size: 2.5rem;
}

.well img {
  width: 100%;
  height: 280px;
}
